<% base_url = "http://192.168.1.99:3000" %>

<body>
<link href=<%= base_url + "/plugin_assets/reviews/bstrp/css/bootstrap.min.css" %> rel="stylesheet">
 <link rel="stylesheet" href=<%= base_url+"/plugin_assets/reviews/awesomplete/awesomplete.css"%> />
 <script src=<%= base_url+"/plugin_assets/reviews/awesomplete/awesomplete.js"%> async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src=<%=base_url+ "/plugin_assets/reviews/bstrp/js/bootstrap.min.js"%>></script>
  <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
    <li><a class="active" href="#tab1" data-toggle="tab">Code reviews requests</a></li>
     <li><a  href="#tab2" data-toggle="tab" >Incoming review requests</a></li>
     <li><a  href="#tab3" data-toggle="tab">Show statistics</a></li>
  </ul>
  <div id="my-tab-content" class="tab-content" height="100%">
        <div class="tab-pane active" id="tab1">
            <% proj = request.original_url
                puts proj
                arr = proj.split("/")
                pName = arr[4]
                #puts pName
            %>   
            <iframe src= <%= "/reviews?project_id="+pName  %>  width="100%" height="600px"></iframe>        
        </div>
        <div class="tab-pane" id="tab2">
            <iframe src= <%= "/receiveRequests?project_id="+pName %>  width="100%" height="600px"></iframe>
        </div>
        <div class="tab-pane" id="tab3">
            <iframe src= <%= "/managerDashboard?project_id="+pName %>  width="100%" height="600px"></iframe>
        </div>
 
  </div>
</body>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
          $('#tabs').tab();
    });
    
</script> 
