<body align="center">
<style>
   #counter {
      float: left;
      margin-left: 30px;
      margin-top: 0px;
   }   
</style>
<link href="plugin_assets/reviews/bstrp/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="plugin_assets/reviews/awesomplete/awesomplete.css" />
 <script src="plugin_assets/reviews/awesomplete/awesomplete.js" async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="plugin_assets/reviews/bstrp/js/bootstrap.min.js"></script>
<link href="plugin_assets/reviews/c3/c3.css" rel="stylesheet" type="text/css">
<!-- Load d3.js and c3.js -->
<script src="plugin_assets/reviews/c3/d3.v3.min.js" charset="utf-8"></script>
<script src="plugin_assets/reviews/c3/c3.min.js"></script>
<br><br><br>
<form role="form" name="fShowStats" class="form-inline" action="managerDashboard#content">
    Developer:
    <select name="developer" id="developer" class="form-control">
        <% @users.each do |user| %>
           <% if user['firstname'] != nil && user['lastname'] != nil && user['lastname'] != "Anonymous" %>
		<option><%= user['firstname']+' '+user['lastname'] %>  </option>
           <%end%>
        <%end%>
    </select><br><br>
    <input type="hidden" name="nameChanged" id="nameChanged">
    <input type="hidden" name="project_id" id="project_id" value=<%= @project  %>> 
    Review :
    <select name="review" id="review" class="form-control">
         <option> All  </option>
         <% @reviews.each do |rev| %>
            <option> <%= "review "+rev['id'].to_s %> </option>     
         <% end %>
    </select>
    <br><br>
    <button class="btn btn-info" type="submit" onclick="showStatsForName()"> Show statistics </button>
</form>
   <div id="chart"></div>
   <div id="chart2"></div>
<br />
<br />


</body>
<script type="text/javascript">
var x = parseInt(<%= @a %>);

var y =  parseInt(<%= @b %>);

var z = parseInt(<%= @c %>);
var t = parseInt(<%= @d %>);
var v = parseInt(<%= @j  %>);
var w = parseInt(<%= @k  %>);
var u = parseInt(<%= @l  %>);
var chart = c3.generate({
    data: {
        
      
        
          columns: [
            ['Exception handling', x],
            ['Stack overflow', y],
            ['Bad design', z],
            ['Line is too long', t],
        ],
       
        
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    }
    
 
});
var chart2 = c3.generate({
    bindto: '#chart2',
    data: {
      columns: [
        ['Errors for the last 3  reviews', v, w, u]
      ],
      axes: {
        data2: 'y2'
      }
    },
    axis: {
      y: {
        label: { // ADD
          text: 'Number of errors',
          position: 'outer-middle'
        }
      }
    }
});
function showStatsForName() {
   document.getElementById("nameChanged").value=1;
}

</script>
