<body>
<link href="plugin_assets/reviews/bstrp/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="plugin_assets/reviews/awesomplete/awesomplete.css" />
 <script src="plugin_assets/reviews/awesomplete/awesomplete.js" async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="plugin_assets/reviews/bstrp/js/bootstrap.min.js"></script>
<br>
<h3> Incoming review requests </h3> <b><span class="label label-default"><%= @incomingRequests.size %> pending  requests</span></b> <br> <br>
<table class="table">
<th> Developer  </th>
<th> Branch </th>
<th> Project</th>
<th> Accept/Reject review request </th>
<form role="form" name="fAcceptRefuseReq" action="receiveRequests#content">
<%
i = 0
@incomingRequests.each do |request|
%>
   <tr>
   <td> <%= User.where(id: request['userId']).pluck('firstname')[0] %> &nbsp
   <%= User.where(id: request['userId']).pluck('lastname')[0] %> </td>
   <td> <%= request['branchName']  %></td>
   <td> <%= Project.where(id: request['projectId']).pluck('name') [0]   %> </td>
   <td>    
        <button class="btn btn-success"  id=<%= i %>   onclick="acceptReview(<%= request['id'] %>)">Accept request</button> 
        <button class="btn btn-danger" name="btn-reject" id="btn-reject" onclick="rejectReview(<%= request['id'] %>)">Reject request</button>  
        <button class="btn btn-primary" name="btn-postpone" id="btn-postpone" onclick="postponeReview(<%= request['id'] %>)">Postpone review</button>
     
      
   </td>
   </tr>
<%

i = i + 1
end
%>
<input type="hidden" id="branchName"   name="branchName">
<input type="hidden" name="rAccept" id="rAccept">
<input type="hidden" name="rReject" id="rReject">
<input type="hidden" name="rPostpone" id="rPostpone">
<input type="hidden" value=<%= @project %> id="project_id" name="project_id">
<input type="hidden"  id="currentReview" name="currentReview">
<input type="hidden" id="reason" name="reason">
</form>
</table>

<h3> Accepted review requests / Active  review sessions </h3> <br> <br>
<table class="table">
<th> Review </th>
<th> Status </th>
<th> Developer  </th>
<th> Branch </th>
<th> Project</th>
<th> Start code review </th>
<form role="form" name="fCodeReview" action="codeReview">
<%
@acceptedIncomingRequests.each do |request|
%>
   <tr>
   <td> <%= "Review "+ request['id'].to_s %> </td>
   <td><%= request['status'] %>  </td>
   <td> <%= User.where(id: request['userId']).pluck('firstname')[0] %> &nbsp
   <%= User.where(id: request['userId']).pluck('lastname')[0] %> </td>
   <td> <%= request['branchName']  %></td>
   <td> <%= Project.where(id: request['projectId']).pluck('name') [0]   %> </td>
    
   <td>
        <% if (request['status'].eql? "accepted") || (request['status'].eql? "in review") %>     
           <button class="btn btn-info" name="btn-rev" id="btn-rev" onclick="startReview(<%= request['id'] %>,'<%= request['branchName'] %>')">Start review</button>
        <% elsif request['status'].eql? "Issues_Fixed:Pending" %>
            <button class="btn btn-info" name="btn-rev" id="btn-rev" onclick="startReview(<%= request['id'] %>,'<%= request['branchName'] %>')">View corrections</button>
          
        <% else 
         end %>
        
   </td>
   </tr>

<%
end
%>
<input type="hidden" id="branch" name="branch">
<input type="hidden"  id="reviewId" name="reviewId">
<input type="hidden" value=<%= @project %> id="projectName" name="projectName">
<input type="hidden" value=0 id="rStart" name="rStart">
<input type="hidden" value=<%= @project %> id="project_id" name="project_id">
</form>
</table>
<br> 
</body>
<script type="text/javascript">
   
   function acceptReview(x) {   
      document.getElementById("rAccept").value = 1;
      document.getElementById("currentReview").value = x;        
   }
   function startReview(x,y) {
      document.getElementById("rStart").value = 1;
      document.getElementById("reviewId").value = x;
      document.getElementById("branch").value = y;
      alert(y);
   } 
   function rejectReview(x) {
      document.getElementById("rReject").value = 1;
      document.getElementById("currentReview").value = x;
      var reas = prompt("Reason","");
      alert(reas);
      document.getElementById("reason").value = reas;
   }   
  function postponeReview(x) {
      document.getElementById("rPostpone").value = 1;
      document.getElementById("currentReview").value = x;
   }
</script>
